.tag-category-preview {
  padding-left: 0;
  margin-bottom: 0;

  &--empty {
    display: none;
  }

  li {
    list-style-type: none;
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 2px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
