@import 'tags';
@import 'tags_output';
@import 'tag_category';
@import 'tag_category_preview';

* {
  box-sizing: border-box;
}

.app-container {
  font-family: 'Roboto', helvetica;
  display: flex;
  justify-content: center;

  .app {
    padding: 15px;
    padding-top: 59px;
    font-size: 12px;
    width: 100vw;
    max-width: 500px;

    .alert-msg {
      color: #a8a8a8;
      font-size: 12px;
      align-self: center;
      margin-right: 8px;
    }
  }
}

