
.tag-categories {
  margin-bottom: 50px;

  .tag-category {
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    .tag-category__form {
      display: flex;
      justify-content: space-between;

      .tag-category__right {
        display: flex;
      }
      .tag-category__left {
        display: flex;

        .tag-category__title {
           width: 70px;
           margin-right: 10px;
           display: flex;

           p {
             font-weight: bold;
             margin: 0;
             align-self: center;
           }
        }

        .tag-category__select {
          border: 1px solid #ddd;
          border-radius: 2px;
          font-size: 12px;
          background: 0;
          padding-left: 10px;
          height: 31px;
          width: 140px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
