.tags-output-container {
  width: 100%;

  .tags-output__display {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 100px;
    white-space: pre-wrap;
    padding: 6px 10px;
    overflow-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 15px;
  }

  .tags-output__copy {
    span {
      color: #a8a8a8;
      font-size: 12px;
      align-self: center;
      margin-right: 8px;
    }

    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
