.tags-output-container {
  width: 100%;

  .tags-output {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 100px;
    white-space: pre-wrap;
    padding: 6px 10px;
    overflow-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 15px;
  }
}
