@import 'tags';
@import 'tags_output';
@import 'tag_category';

@font-face(Futura, fonts/Futura);

* {
  box-sizing: border-box;
}

.app-container {
  font-family: helvetica, Futura;
  display: flex;
  justify-content: center;

  .app {
    margin-top: 50px;
    padding: 0 15px;
    font-size: 12px;
    width: 100vw;
    max-width: 500px;

    .tag-btn {
      appearance: none;
      border-radius: 2px;
      border: 1px solid #ddd;
      height: 31px;
      font-size: 12px;
      cursor: pointer;

      &--disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      &:hover {
        background-color: #eee;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

