.ReactTags__tags {
  margin-bottom: 30px; }
  .ReactTags__tags .ReactTags__selected .ReactTags__tag {
    background-color: #eee;
    border: 1px solid #ddd;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 2px;
    display: inline-block; }
    .ReactTags__tags .ReactTags__selected .ReactTags__tag:last-child {
      margin-right: 0; }
    .ReactTags__tags .ReactTags__selected .ReactTags__tag .ReactTags__remove {
      color: #aaa;
      margin-left: 5px;
      cursor: pointer; }
  .ReactTags__tags .ReactTags__selected .ReactTags__tagInput {
    width: 150px;
    display: inline-block; }
    .ReactTags__tags .ReactTags__selected .ReactTags__tagInput .ReactTags__tagInputField {
      border: 1px solid #eee;
      border-radius: 2px;
      margin: 0;
      height: 31px;
      width: 100%;
      padding: 0 10px;
      font-family: helvetica;
      font-size: 12px; }
      .ReactTags__tags .ReactTags__selected .ReactTags__tagInput .ReactTags__tagInputField:focus {
        outline: none;
        outline-offset: 0; }

.tags-output-container {
  width: 100%; }
  .tags-output-container .tags-output__display {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 100px;
    white-space: pre-wrap;
    padding: 6px 10px;
    overflow-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 15px; }
  .tags-output-container .tags-output__copy {
    width: 100%;
    display: flex;
    justify-content: flex-end; }

.tag-categories {
  margin-bottom: 50px; }
  .tag-categories .tag-category {
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px; }
    .tag-categories .tag-category:last-child {
      margin-bottom: 0; }
    .tag-categories .tag-category .tag-category__form {
      display: flex;
      justify-content: space-between; }
      .tag-categories .tag-category .tag-category__form .tag-category__right {
        display: flex; }
      .tag-categories .tag-category .tag-category__form .tag-category__left {
        display: flex; }
        .tag-categories .tag-category .tag-category__form .tag-category__left .tag-category__title {
          width: 70px;
          margin-right: 10px;
          display: flex; }
          .tag-categories .tag-category .tag-category__form .tag-category__left .tag-category__title p {
            font-weight: bold;
            margin: 0;
            align-self: center; }
        .tag-categories .tag-category .tag-category__form .tag-category__left .tag-category__select {
          border: 1px solid #ddd;
          border-radius: 2px;
          font-size: 12px;
          background: 0;
          padding-left: 10px;
          height: 31px;
          width: 140px; }
          .tag-categories .tag-category .tag-category__form .tag-category__left .tag-category__select:focus {
            outline: none; }

.tag-category-preview {
  padding-left: 0;
  margin-bottom: 0; }
  .tag-category-preview--empty {
    display: none; }
  .tag-category-preview li {
    list-style-type: none;
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 2px;
    margin-right: 5px; }
    .tag-category-preview li:last-child {
      margin-right: 0; }

@font-face (Futura, fonts/Futura);
* {
  box-sizing: border-box; }

.app-container {
  font-family: helvetica, Futura;
  display: flex;
  justify-content: center; }
  .app-container .app {
    padding: 15px;
    font-size: 12px;
    width: 100vw;
    max-width: 500px; }
    .app-container .app .app-title {
      margin-top: 10px;
      margin-bottom: 40px; }
      .app-container .app .app-title h3 {
        margin: 0;
        font-size: 2.4em; }
    .app-container .app .alert-msg {
      color: #a8a8a8;
      font-size: 12px;
      align-self: center;
      margin-right: 8px; }
    .app-container .app .tag-btn {
      appearance: none;
      border-radius: 2px;
      border: 1px solid #ddd;
      height: 31px;
      font-size: 12px;
      cursor: pointer; }
      .app-container .app .tag-btn--disabled {
        pointer-events: none;
        opacity: 0.5; }
      .app-container .app .tag-btn:hover {
        background-color: #eee; }
      .app-container .app .tag-btn:focus {
        outline: none; }
